{% extends "base.html" %}

{% block headerContent %}
{% endblock headerContent %}

{% block title %} 405: Method Not Allowed {% endblock %}


{% block bodyContent %}

<h1> 405! </h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p class="lead">
                HEY! You're not allowed to do that.
            </p>
            Maybe you're trying to POST something you really should be GETting? <br />
            PUT yourself back into your place. ReTRACE your steps and figure out what you did wrong.

{% endblock bodyContent %}
