@font-face {
    font-family: roadGeek;
    src: url(sansation_light.woff);
}

@font-face {
    font-family: 'Roadgeek 2005 Series C';
    src: url('/static/fonts/Roadgeek 2005 Series C.eot');
    src: local('☺'), url('/static/fonts/Roadgeek 2005 Series C.woff') format('woff'), url('/static/fonts/Roadgeek 2005 Series C.ttf') format('truetype'), url('/static/fonts/Roadgeek 2005 Series C.svg') format('svg');
}

body {
/*background-color: #333;*/
/*padding-top: 85px;*/
}

h1 {
	font-size: 100px;
	color: white;
    transform: translateY(25%);
}

#justified {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute;
}

.panel-body{
    font-family:'Roadgeek 2005 Series C',Sans-Serif;
}

.statusimg {
    width: 30%;
    height: auto;
    vertical-align: middle;
    max-width: 185px;
    /*transform: translateY(-15%);*/
    }


.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0

}


.vcenter {
    position: relative;
    /*top: 50%;*/
    /*transform: translateY(-10px);*/
}



/* Sticky footer styles */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
body > .container {
    padding: 60px 15px 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.container .text-muted {
    margin: 20px 0;
}
/* -------------------------------------------- */


/* Sidebar Helper Fxns */

.navbar-bright {
    background-color:#111155;
    color:#fff;
}

.affix-top,.affix{
    position: static;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top:30px;
        width:228px;
    }

    #sidebar.affix {
        position: fixed;
        top:70px;
        width:228px;
    }
}

#sidebar li.active {
    border:0 #eee solid;
    border-right-width:5px;
}


/* -------------------------------------------- */
