{% extends "base.html" %}

{% block headerContent %}
{% endblock headerContent %}

{% block title %} 404: Page Not Found {% endblock %}


{% block bodyContent %}

<h1> 404! </h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p class="lead">
                This is not where you want to be.
            </p>
            Something's gone wrong. Maybe you mistyped a URL or clicked a broken link. Maybe you are trying to find somethining that isn't here. Maybe you've realized how alone we really all are in this world. <br />
            Do not panic. There is a solution. Click back, or click a link up at the top. <br />
            Breathe. Do some yoga. Everything will be okay.


{% endblock bodyContent %}
