{% extends "base.html" %} {% block bodyContent %}

<h2> About STEPS</h2>
<div class="container-fluid no-padding-left">
    <div class="col-md-6 no-padding-left">
        <p class="about-verylarge">Oh, that dreaded broken escalator. </p>
        <p class="about-large">The Stuyvesant Performance Survey (STEPS) makes getting to class so much easier. </p>
        <p class="about-large">Just check the website, see which escalators are working, and choose the most convenient path. No surpises.</p>
    </div>
    <div class="col-md-6">
        <a href="https://www.flickr.com/photos/chadcooperphotos/8549351721" title="Never Ending Escalator by Chad  Cooper, on Flickr"><img src="https://farm9.staticflickr.com/8244/8549351721_6783931bac_z.jpg" width="640" height="513" alt="Never Ending Escalator"></a>
    </div>
</div>

{% endblock bodyContent %}
