{% extends "base.html" %} {% block bodyContent %}

<h2> API </h2>

<p class="lead">
    API Reference
</p>
<br>

<!--main-->
<div class="container">
    <div class="row">
        <!--left-->
        <div class="col-md-3" id="leftCol">
            <ul class="nav nav-stacked" id="sidebar">

                <li><a href="#sec0">About the API</a>
                </li>
                <li><a href="#sec1">Escalator Names</a> </li>
                <li><a href="#sec2">Methods</a> </li>
                <ul>
                    <li><a href="#met0"> Current Status </a>
                    </li>
                    <li><a href="#met1"> Current Status </a>
                    </li>

                </ul>
                <li><a href="#sec3">Getting Past Statuses</a>
                </li>
                <li><a href="#sec4">Errors</a>

            </ul>
        </div>
        <!--/left-->

        <!--right-->
        <div class="col-sm-9">
            <h2 id="sec0">About the API</h2>
            <div class="col-sm-7">
                <p>
                    The STEPS API is an awesome RESTful API for tracking the escalators in Stuyvesant High School. You get all the data that our server has access to, including the history of statuses going back to the very first measurement.
                    <br> All data is returned in JSON.
                    <br> No authentication is needed.
                </p>
            </div>
            <div class="col-sm-5">
                <h5> API Endpoint </h5>
                <samp>
                    http://stuysteps.nyc/api/escalators
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </samp>
            </div>

            <h2 id="sec1">Escalator Names</h2>
            <div class="col-sm-7">
                <p>
                    Whenever an escalator name is needed, you can either say "all" or specify an escalator. The format is the direction of the escalator ("up" or "down") followed by the bottom floor followed by the top floor. For example, the escalator going down from 7
                    to 5 would be "down57".
                </p>
            </div>
            <div class="col-sm-5">
                <samp>
                    escalators_names = [
                    <br> &nbsp; "up23", "down23",
                    <br> &nbsp; "up24", "down24",
                    <br> &nbsp; "up35", "down35",
                    <br> &nbsp; "up46", "down46",
                    <br> &nbsp; "up57", "down57",
                    <br> &nbsp; "up68", "down68",
                    <br> &nbsp; "up79", "down79",
                    <br> ];
                </samp>
            </div>

            <h2 id="sec1">Methods</h2>

            <h4 id="met0">Current Status</h4>
            <div class="col-sm-7">
                <p>
                    http://stuysteps.nyc/api/escalators/&lt;escalator_name>/status
                </p>
            </div>
            <div class="col-sm-5">
                <samp>
                    $ curl stuysteps.nyc/api/escalators/down57/status
                </samp>

                <h5> Example Response </h5>
                <samp>
                    {"down57": {
                    <br> &nbsp; "statuses": ["running"],
                    <br> &nbsp; "times": ["12345678"]
                    <br> }}
                </samp>
            </div>

            <h4 id="met1">Status Histories</h4>
            <div class="col-sm-7">
                <p>You can get the 100 most recent records like this: </p>
                http://stuysteps.nyc/api/escalators/&lt;escalator_name>/history

                <br> You can get a specific range of historical records, though you can only fetch 1000 at a time. This limitation is to prevent overstraining our server. </p>
                http://stuysteps.nyc/api/escalators/&lt;escalator_name>/history?min=200&amp;max=400
                <br>
                <br> All times are in miliseconds, Unix standard time.
            </div>
            <div class="col-sm-5">
                <samp>
                    $ curl stuysteps.nyc/api/escalators/up35/history?min=0&amp;max=3
                </samp>

                <h5> Example Response </h5>
                <samp>
                    { {
                    <br> &nbsp; up35: {
                    <br> &nbsp; &nbsp; statuses: [
                    <br> &nbsp; &nbsp; &nbsp; false,
                    <br> &nbsp; &nbsp; &nbsp; false,
                    <br> &nbsp; &nbsp; &nbsp; true
                    <br> &nbsp; &nbsp; &nbsp; ],
                    <br> &nbsp; &nbsp; &nbsp; times: [
                    <br> &nbsp; &nbsp; &nbsp; 1421947844.034484,
                    <br> &nbsp; &nbsp; &nbsp; 1421947868.721245,
                    <br> &nbsp; &nbsp; &nbsp; 1421947904.061175
                    <br> &nbsp; &nbsp; ]
                    <br> &nbsp; }
                    <br> }
                    <br>
                </samp>
            </div>

            <h2 id="sec3">Errors</h2>
            <div class="col-sm-7">
                <samp>
                    <ul>
                        <li>Invalid data_type: Must be empty or 'status' or 'history'</li>
                        <li>Invalid escalator name. Must be 'all' or direction followed by two floors, ex. 'up57'</li>
                        <li>Malformed max and min values</li>
                        <li>You can only fetch 1000 records at once.</li>
                    </ul>
                </samp>
            </div>
            <div class="col-sm-5">
                <p>
                    <samp>
                    </samp>
            </div>
        </div>
        <!--/right-->
    </div>
    <!--/row-->
</div>
<!--/container-->
{% endblock %}
</a>
</li>
