{% extends "base.html" %} {% block bodyContent %}

<h2> API </h2>

<p class="lead">
    API Reference
</p>
<br>

<!--main-->
<div class="container">
    <div class="row">
        <!--left-->
        <div class="col-md-3" id="leftCol">
            <ul class="nav nav-stacked" id="sidebar">
                <li><a href="#sec0"> Introduction         </a>
                </li>

		<li><a href="#sec00"> Quickstatrt        </a>
        </li>
                <li><a href="#sec1"> Authentication       </a>
                </li>
                <li><a href="#sec2"> Calls                </a>
                </li>
                <li><a href="#sec3"> Errors               </a>
                </li>
                <li><a href="#sec4"> Data Output          </a>
                </li>
            </ul>
        </div>
        <!--/left-->

        <!--right-->
       <div class="col-sm-9">
            <h2 id="sec0">Introduction</h2>
	    <div class="col-sm-7">
            <p>
	      The STEPS API is an awesome RESTful API for tracking the escalators in Stuyvesant High School.
	    </p>
	    </div>
	    <div class="col-sm-5">
	      <p>
		<samp>
		  // Code examples will be shown in this gutter.
		  <br \><br \>


		  <b>API Endpoint</b> <br \>

		  http://OURURLHERE.tld/api/
		</samp>
	    </div>


            <h2 id="sec00">Quickstart</h2>
            <div class="col-sm-7">
            <p>
	      It's time to make your first API calls! This part of the guide assumes you know what an API is and how it works. it also assumes you have some type of JSON parser.
	    </p>
	    </div>
	    <div class="col-sm-5">
	      <p>
		<samp>
		  // Code examples will be shown in this gutter.
		  <br \><br \>


		  <b>Example Output:</b> <br \>

		  {data: {<br \>
		  'Hello': <br \>
		  'world'<br \>
		  }<br \>
		  }
		</samp>
	    </div>

            <h2 id="sec1">Authentication</h2>
            <div class="col-sm-7">
            <p>
	      The STEPS API is an awesome RESTful API for tracking the escalators in Stuyvesant High School.
	    </p>
	    </div>
	    <div class="col-sm-5">
	      <p>
		<samp>
		  // Code examples will be shown in this gutter.
		  <br \><br \>


		  <b>API Endpoint</b> <br \>

		  http://OURURLHERE.tld/api/
		</samp>
	    </div>

            <h2 id="sec2">Calls</h2>
	    <div class="col-sm-7">
            <p>
	      The STEPS API is an awesome RESTful API for tracking the escalators in Stuyvesant High School.
	    </p>
	    </div>
	    <div class="col-sm-5">
	      <p>
		<samp>
		  // Code examples will be shown in this gutter.
		  <br \><br \>


		  <b>API Endpoint</b> <br \>

		  http://OURURLHERE.tld/api/
		</samp>
	    </div>
            <h2 id="sec3">Errors</h2>
	    <div class="col-sm-7">
            <p>
	      The STEPS API is an awesome RESTful API for tracking the escalators in Stuyvesant High School.
	    </p>
	    </div>
	    <div class="col-sm-5">
	      <p>
		<samp>
		  // Code examples will be shown in this gutter.
		  <br \><br \>


		  <b>API Endpoint</b> <br \>

		  http://OURURLHERE.tld/api/
		</samp>
	    </div>

            <h2 id="sec4">Data Output</h2>
            <div class="col-sm-7">
            <p>
	      The STEPS API is an awesome RESTful API for tracking the escalators in Stuyvesant High School.
	    </p>
	    </div>
	    <div class="col-sm-5">
	      <p>
		<samp>
		  // Code examples will be shown in this gutter.
		  <br \><br \>


		  <b>API Endpoint</b> <br \>

		  http://OURURLHERE.tld/api/
		</samp>
	    </div>

        </div>
        <!--/right-->
    </div>
    <!--/row-->
</div>
<!--/container-->
{% endblock %}
</a>
</li>
