<html lang="en">

<head>


    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.1/cyborg/bootstrap.min.css">

    <!-- Custom styles for this -->
    <link href="static/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>


    <!-- FAVICON CENTRAL -->
    <!-- iPhone Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon-180x180.png">
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png" sizes="16x16">
    <!-- Andriod Icons -->
    <link rel="manifest" href="/static/img/favicons/android-chrome-manifest.json">
    <link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
    <!-- Windows Icons -->
    <meta name="msapplication-TileColor" content="#424242">
    <meta name="msapplication-TileImage" content="/static/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- END FAVICONS -->

    {% block headerContent %} {% endblock headerContent %}
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{title}}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <!-- Need to add class="active" to make bold but for later. -->
                        <a href="/">Status</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/api">API</a>
                    </li>
                    <li>
                        <a href="/stats">Statistics</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
        <!-- <div class="page-header">
        </div> -->

        {% block bodyContent %} Placeholder for body content of site in base.html. If you see this, you forgot to override it. {% endblock bodyContent %}
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; Aaron Mortenson, Andrew Fischer, Phillipp Steinmann &amp; Daniel Zabari 2014.<br>
                <font size="-6">Hosted with &#9829; by <a href="https://www.digitalocean.com/">DO</a>. Source availible on <a href="https://github.com/Zabari/STEPS">GH</a>. We will all die some day.</font>
            </p>

        </div>
    </footer>


</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% block filesBottom %} {% endblock filesBottom %}

</html>
