<html lang="en" class="{{request.path | replace("/", "")}}">

<head>


    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.1/cyborg/bootstrap.min.css">

    <!-- Custom styles for this -->
    <link href="static/css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>

    {% block headerContent %} {% endblock headerContent %}
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{title}}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <!-- Need to add class="active" to make bold but for later. -->
                        <a href="/">Status</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/api">API</a>
                    </li>
                    <li>
                        <a href="/stats">Statistics</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
        <!-- <div class="page-header">
        </div> -->

        {% block bodyContent %} Placeholder for body content of site in base.html. If you see this, you forgot to override it. {% endblock bodyContent %}
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; Aaron Mortenson, Andrew Fischer, Phillipp Steinmann &amp; Daniel Zabari 2014.<br>
                <font size="-6">Hosted with &#9829; by <a href="https://www.digitalocean.com/">DO</a>. Source availible on <a href="https://github.com/Zabari/STEPS">GH</a>. We will all die some day.</font>
            </p>

        </div>
    </footer>


</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% block filesBottom %} {% endblock filesBottom %}

</html>
