{% extends "base.html" %} {% block bodyContent %}

<h2> Contact </h2>

<!-- if you want, put additional information underneath your name -->

<p class="lead">
    <a href = "http://github.com/afischer/"><b>A</b>ndrew <b>F</b>ischer</a>
</p>

<p class="lead">
    <a href = "http://github.com/PhilippSteinmann/"><b>P</b>hilipp <b>S</b>teinmann</a>
</p>

<p class="lead">
    <a href = "http://github.com/trunkatedpig/"><b>A</b>aron <b>M</b>ortenson</a>
</p>


<p class="lead">
    <a href = "http://github.com/zabari/"><b>D</b>aniel <b>Z</b>abari</a>
</p>

{% endblock bodyContent %}
