<!DOCTYPE html>
<html lang="en" id="index">

<head>
  <title>Status Board</title>

  <meta charset="utf-8"> </object>

  <link rel="stylesheet" href="../static/css/statusboard.css" type="text/css" media="screen">

</head>

<body>

  <span class="panel">
    2-3
    <object class="statusimg" id="up23" type="image/svg+xml" data="/static/img/up.svg" > </object>
    <object class="statusimg" id="down23" type="image/svg+xml" data="/static/img/down.svg"> </object>
  </span>

  <span class="panel">
    2-4
    <object class="statusimg" id="up24" type="image/svg+xml" data="/static/img/up.svg"> </object>
    <object class="statusimg" id="down24" type="image/svg+xml" data="/static/img/down.svg"> </object>
  </span>
  <br>

  <span class="panel">
    3-5
    <object class="statusimg" id="up35" type="image/svg+xml" data="/static/img/up.svg"> </object>
    <object class="statusimg" id="down35" type="image/svg+xml" data="/static/img/down.svg"> </object>
  </span>

  <span class="panel">
    4-6
    <object class="statusimg" id="up46" type="image/svg+xml" data="/static/img/up.svg"> </object>
    <object class="statusimg" id="down46" type="image/svg+xml" data="/static/img/down.svg"> </object>
  </span>
  <br>

  <span class="panel">
    5-7
    <object class="statusimg" id="up57" type="image/svg+xml" data="/static/img/up.svg"> </object>
    <object class="statusimg" id="down57" type="image/svg+xml" data="/static/img/down.svg"> </object>
  </span>

  <span class="panel">
    6-8
    <object class="statusimg" id="up68" type="image/svg+xml" data="/static/img/up.svg"> </object>
    <object class="statusimg" id="down68" type="image/svg+xml" data="/static/img/down.svg"> </object>
  </span>
  <br>

  <span class="panel">
    7-9
    <object class="statusimg" id="up79" type="image/svg+xml" data="/static/img/up.svg"> </object>
    <object class="statusimg" id="down79" type="image/svg+xml" data="/static/img/down.svg"> </object>
  </span>

  <span class="panel">
    ???
    <object class="statusimg" id="ugh" type="image/svg+xml" data="/static/img/up.svg"> </object>
    <object class="statusimg" id="moo" type="image/svg+xml" data="/static/img/down.svg"> </object>
  </span>
  <br>


</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/js/script.js"></script>

</html>
