<!DOCTYPE html>
<html lang="en" id="index">

<head>
  <title>Status Board</title>

  <meta charset="utf-8"> </object>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- <link rel="stylesheet" href="../static/css/statusboard.css" type="text/css" media="screen"> -->
  <script src="/static/js/script.js"></script>
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen">



</head>

<body>

  <div class="row-fluid">
    <br>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">2-3</h1>
          <object class="statusimg" id="up23" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down23" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">2-4</h1>
          <object class="statusimg" id="up24" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down24" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">3-5</h1>
          <object class="statusimg" id="up35" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down35" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">4-6</h1>
          <object class="statusimg" id="up46" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down46" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">5-7</h1>
          <object class="statusimg" id="up57" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down57" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">6-8</h1>
          <object class="statusimg" id="up68" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down68" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">7-9</h1>
          <object class="statusimg" id="up79" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down79" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-clear">
        <div class="panel-body" style="text-align: center; <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-clear">
        <div class="panel-body" style="text-align: center; c<span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-clear">
        <div class="panel-body" style="text-align: center;">
	  <font size="36">About  |  API  |  Contact </font>
	</div>
      </div>
    </div>

  </div>

</body>
<script src="/static/js/script.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</html>
