
  {% extends "base.html" %} {% block bodyContent %}


</head>

<body>

  <div class="row-fluid">
    <br>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">2-3</h1>
          <object class="statusimg" id="up23" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down23" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">2-4</h1>
          <object class="statusimg" id="up24" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down24" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">3-5</h1>
          <object class="statusimg" id="up35" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down35" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">4-6</h1>
          <object class="statusimg" id="up46" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down46" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">5-7</h1>
          <object class="statusimg" id="up57" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down57" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">6-8</h1>
          <object class="statusimg" id="up68" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down68" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" id="justified">
          <h1 style="display: inline-block;">7-9</h1>
          <object class="statusimg" id="up79" type="image/svg+xml" data="/static/img/up.svg"> </object>
          <object class="statusimg" id="down79" type="image/svg+xml" data="/static/img/down.svg"> </object>
          <span class="stretch"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6" class="homepage-links">
      <div class="panel">
          <div class="panel-body">
              <div class="homepage-links">
                <a href="/about">About </a>
                <a href="/api">API</a>
                <a href="/contact">Contact</a>
            </div>
	</div>
      </div>
    </div>
  </div>

<script> 
var UPDATE_FREQUENCY = 2000;
window.setInterval(function(){
  reloadData();
}, UPDATE_FREQUENCY);
</script>
{%endblock%}
